[Unit]
Description=Celery worker for protein pipeline
After=network.target rabbitmq-server.service
Wants=rabbitmq-server.service

[Service]
Type=simple
User={{ worker_user }}
Group={{ worker_user }}

WorkingDirectory={{ pipeline_code_dir }}

Environment=PYTHONUNBUFFERED=1
Environment=PY_BIN={{ pipeline_venv_dir }}/bin/python3
Environment=PATH={{ pipeline_venv_dir }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin

ExecStart={{ pipeline_venv_dir}}/bin/python3 \
    {{ pipeline_venv_dir }}/bin/celery \
    -A tasks worker \
    -l info \
    --concurrency={{ celery_concurrency | default(1) }} \
    --hostname=worker@%h

Restart=on-failure
RestartSec=5

TimeoutStartSec=300

[Install]
WantedBy=multi-user.target