CELERY_BROKER_URL={{ celery_broker_url }}
CELERY_RESULT_BACKEND={{ celery_backend_url }}
REDIS_HOST={{ redis_host }}
REDIS_PORT={{ redis_port }}
REDIS_PASSWORD={{ redis_requirepass }}
REDIS_DB={{ redis_db }}