bind {{ redis_bind_ip }}
port {{ redis_port }}
protected-mode yes

{% if redis_requirepass | length > 0 %}
requirepass {{ redis_requirepass }}
{% endif %}

dir {{ redis_data_dir }}
dbfilename dump.rdb

save 900 1
save 300 1
save 60 10000

appendonly {{ redis_appendonly }}
appendfilename "appendonly.aof"
appendfsync everysec

stop-writes-on-bgsave-error yes
timeout {{ redis_timeout }}
tcp-keepalive {{ redis_tcp_keepalive }}